@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Успіх</title>
</head>
<body>
    <h1>Реєстрація на консультацію пройшла успішно!</h1>
    <p>Дякуємо за реєстрацію. Незабаром з вами зв'яжеться наш консультант для підтвердження дати та часу консультації.</p>
    <a href="/">Повернутися на головну сторінку</a>
</body>
</html>
